version: "3.9"

services:
  load-optimizer:
    build: .
    image: optimal-truck-load-planner
    container_name: load-optimizer
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: redis
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis
    restart: unless-stopped

  redis:
    image: redis:7.2-alpine
    container_name: redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "no"]
    restart: unless-stopped
